
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">

            <form asp-action="create">
                <div class="mb-3">
                    <label for="fullname" class="form-label">fullname</label>
                    <input name="fullname" type="text" class="form-control" id="fullname">
                </div>
              
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </div>
    </div>
</div>
